.hover-button {
  background-color: #9450b2;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  color: aliceblue;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.6s ease-in;
}

.hover-button:hover {
  background-color: #4fe479;
  transform: scale(1.5);
}

.box {
  width: 100px;
  height: 100px;
  margin: 100px;
  background-color: #4fe479;
  transition: width 0.5s ease, height 0.3s ease, background-color 0.5s ease;
}

.box:hover {
  width: 150px;
  height: 150px;
  background-color: #dfe44f;
}

.ball {
  height: 50px;
  width: 50px;
  background-color: #dfe44f;
  border-radius: 50%;
  position: relative;
  animation: bounce 5s ease infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-90px);
  }
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: #dfe44f;
  opacity: 0;
  transition: opacity 0.3s;
}

.box2.animate {
  opacity: 1;
  animation: moveRight 2s ease-in-out forwards;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}

